

.main-container-width-with-header {
  text-align: center;
  padding-top: 40px;
}
.safestorelogo {
  width: 240px;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-line {
  background-color: #0055c9;
  opacity: 1;
}

footer {
  border: 2px solid white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  img {
    width: 100px;
  }
}
