/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

  body {
    position: relative;
    margin: 0 auto!important;
    height: 100vh;
    overflow: hidden;
    font-size: 18rem;
    width: 56.25vh;
  }
