

h1 {
  font-weight: 100;
  color: #0055c9;
  margin-top: 40px;
}

.btn-custom-1 {
  background-color: #0055c9;
  color: white;
}

.none-rounded {
  border-radius: 0;
}

.input-group {
  &.wrapper {
    margin-bottom: 20px;
    input {
      border-radius: 0;
    }
  }
}

.my-peer-id {
  color: #0055c9;
  font-weight: 100;
}


.menu-wrapper {
  padding: 50px 50px 0 0;
}

.menu {
  border: 2px solid white;
  border-right: none;
  border-left: none;
  margin: 0;
  padding: 0;
  li {
    border: 2px solid white;
    list-style-type: none;
    padding: 20px 0;
    border-right: none;
    border-left: none;
    display: flex;
    cursor: pointer;
    .text {
      color: white;
    }
    .arrow {
      margin-left: auto;
    }
  }
}


footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  img {
    width: 100px;
  }
}
