<div class="container">
  <div class="menu-wrapper">
    <ul class="menu">
      <li>
        <span class="text">
          Welcome to your safe storage
        </span>
        <span class="arrow">
          <img src="https://raw.githubusercontent.com/saucey/peers/main/dist/angular-peerjs/assets/icons8-right-24.png"
            alt="">
        </span>
      </li>
      <li>
        <span class="text">
          Storage guidlines
        </span>
        <span class="arrow">
          <img src="https://raw.githubusercontent.com/saucey/peers/main/dist/angular-peerjs/assets/icons8-right-24.png"
            alt="">
        </span>
      </li>
      <li>
        <span class="text">
          Interactive site map
        </span>
        <span class="arrow">
          <img src="https://raw.githubusercontent.com/saucey/peers/main/dist/angular-peerjs/assets/icons8-right-24.png"
            alt="">
        </span>
      </li>
      <li (click)="goToVideoCall()">
        <span class="text">
          Speak to a team-member
        </span>
        <span class="arrow">
          <img src="https://raw.githubusercontent.com/saucey/peers/main/dist/angular-peerjs/assets/icons8-right-24.png"
            alt="">
        </span>
      </li>
    </ul>
  </div>
</div>
<footer>
  <img src="https://raw.githubusercontent.com/saucey/peers/main/dist/angular-peerjs/assets/footer-icon.png" alt="">
</footer>
