<div class="container main-container-width-with-header">
  <h1>Start Support & Collaboration</h1>
  <button class="btn btn-custom-1 none-rounded" (click)="goToVideoCall()">Proceed to video call</button>
  <!-- <div class="input-group wrapper">
    <input type="text" class="form-control" placeholder="Connect to Peer ID" [(ngModel)]='peerIdShare' aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-success none-rounded" (click)="connectWithPeer()" type="button">Call</button>
      <button class="btn btn-danger none-rounded" (click)="closeConnection()" type="button">Close call</button>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-12">
      <span class="my-peer-id">My Peer ID: {{peerId}}</span>
      <div style="width: 100%; height: 600px; border: 1px solid #0055c9" id="remote-video"></div>
      <br>
    </div>
  </div> -->
  <!-- <div class="row">
    <div id="video-wrapper">
      <video #remoteVideo id="remote-video" poster="./assets/video-placeholder.jpg" autoplay playsinline></video>
      <video #localVideo class="local-video" autoplay playsinline [muted]=true></video>
    </div>
  </div> -->
</div>
